.d\:none{display: none !important;}
.d\:flex{display: flex !important;}
.d\:block{display: block !important;}
.d\:inline{display: inline !important;}
.d\:inline-block{display: inline-block !important;}

.justify-self\:left{justify-self:left !important;}
.justify-self\:center{justify-self:center !important;}
.justify-self\:right{justify-self:right !important;}



.colspan\:2{
    grid-column: span 2;
}
@media(min-width:700px){
    .md\:d\:none{display: none !important;}
    .md\:d\:flex{display: flex !important;}
    .md\:d\:block{display: block !important;}
    .md\:d\:inline{display: inline !important;} 
    .md\:colspan\:2{
        grid-column: span 2 !important;;
    }
}



