<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/util.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="/css/button.css" rel="stylesheet" type="text/css" />
    <link href="/css/heading.css" rel="stylesheet" type="text/css" />
    <link href="card.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section class="menu-card">
      <h1>
        <a class="heading-4" href="detail?id=1">카페라떼</a>
      </h1>
      <h2 class="heading-2 font-weight:normal color:base-5">Cafe Latte</h2>
      <div class="price-block">
        4,500원<span class="md:d:none">SOLD OUT</span>
      </div>
      <div class="img-block">
        <a href=""><img src="/image/main-image.jpg" /></a>
      </div>
      <div class="like-block">
        <a class="icon icon-heart" href="">좋아요</a
        ><span class="font-weight:bold ml:1">2</span>
      </div>
      <div class="pay-block d:flex">
        <a class="icon icon-cart" href="">장바구니</a>
        <a class="icon icon-cart" href="">결제하기</a>
      </div>
    </section>
  </body>
</html>
