.search-section {
  width: 100%;
  height: 180px;

  background: rgba(30, 30, 30, 0.7) url(/image/main-image.jpg) no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  /* opacity: 0.7; 불투명? */
}

/* .search-section::before{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.7);
} */
/* 요즘은 이 방법보다 위의 blend를 사용한다. */

.search-section h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-base-2);
  text-align: center;

  margin-top: var(--gap-6);
}

.category-search {
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--color-base-2);
}

.category-search ul {
  display: inline-flex;
  align-items: center;
}

.category-search ul li {
}

.category-search .current {
  font-size: var(--font-size-2-1);
  font-weight: bold;
  border-radius: var(--radius-0);
  padding: 4px 12px;
  background-color: var(--color-base-2);
  color: var(--color-base-10);
}

.search-fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: white;
}
.search-form {
}

@media (min-width: 700px) {
  .search-section {
    display: inline-flex;
    /* inline-flex 는 inline이 되었으니 텍스트로 볼수 잇음  */
    flex-direction: column;
    align-items: center;
  }
  .category-search {
    padding: 12px 24px;
    margin-top: 22px;
  }

  .md\:category-list {
    gap: 30px;
  }
}
