 .search-section{
    width: 100%;
    height: 180px;
   
    background: rgba(30,30,30,0.7) url(/image/main-image.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
     /* opacity: 0.7; 불투명? */
}


/* .search-section::before{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.7);
} */
/* 요즘은 이 방법보다 위의 blend를 사용한다. */

.search-section
      h1{
          font-size: 32px;
          font-weight: bold;
          color:var(--color-base-2);
          text-align: center;
          
          margin-top: var(--gap-6);
        }

.category-search{
  display: flex;
  justify-content: center;
}

.category-search
ul
    {
      display: inline-flex;
      align-items: center;      
      gap: 30px;    
    }

    .category-search
    ul
          li{
            

}

.category-search
      .all{
            font-size:var(--font-size-2-1);
            font-weight: bold;
            /* width: 70px;
            height: 25px; */
            /* border: none; */
            border-radius:var(--radius-0);
            padding:4px 12px;
            background-color:var(--color-base-2);
            
          }

    @media (min-width: 700px) {
    .md\:category-list{
      display: inline-flex;
      flex-direction: row;
      gap: 30px;
      color:var(--color-base-2);
      border-radius: 50px;
      background-color:rgba(0, 0, 0, 0.1);
      padding:16px 24px;
      justify-content: center;
      align-items: center;
  }

  .md\:category-search 
  .all{
    color:var( --color-base-10);
  }
}