<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/util.css" rel="stylesheet" type="text/css" />
    <link href="/css/icon.css" rel="stylesheet" type="text/css" />
    <link href="/css/button.css" rel="stylesheet" type="text/css" />
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/footer.css" rel="stylesheet" type="text/css" />
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/unique-menu.css" rel="stylesheet" type="text/css" />
    <link href="search-section.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section class="search-section">
      <h1>Rland Menu <span class="d:none">검색</span></h1>
      <nav class="category-search md:category-search">
        <h1 class="d:none">카테고리 검색 메뉴 목록</h1>
        <ul class="category-list md:category-list">
          <li>
            <a
              class="current deco md:deco deco-icon-size:1 icon-filter_list md:all"
              href=""
              >전체메뉴</a
            >
          </li>
          <li><a class="d:none md:d:inline" href="">커피</a></li>
          <li><a class="d:none md:d:inline" href="">수제청</a></li>
          <li><a class="d:none md:d:inline" href="">샌드위치</a></li>
          <li><a class="d:none md:d:inline" href="">쿠키</a></li>
        </ul>
      </nav>

      <section>
        <h1 class="d:none">이름 검색 폼</h1>
        <form class="search-fieldset">
          <fieldset>
            <legend class="d:none">이름검색</legend>
            <input class="search-form" type="text" />
            <input
              class="deco deco-icon-size:1 icon-filter_list"
              type="submit"
              value="검색"
            />
          </fieldset>
        </form>
      </section>
    </section>
  </body>
</html>
