<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../reset.css" rel="stylesheet" type="text/css">
    <link href="../root.css" rel="stylesheet" type="text/css">
    <link href="../icon.css" rel="stylesheet" type="text/css">
    <link href="../util.css" rel="stylesheet" type="text/css">
    <link href="../button.css" rel="stylesheet" type="text/css">
    <link href="header.css" rel="stylesheet" type="text/css">
   

</head>
<body>
     <!--헤더는 섹션, 아티클 어디에든 들어갈수 잇음 
    제목을 가지고 잇으면서 다른 것들이 잇을경우 묵어주는 영역-->
    <header class="header md:header">
        <div class="content-box">
        <h1>알랜드 </h1>
        <nav class="main-menu">
            <ul class="md:d:none">
                <li>
                    <a class=" icon icon-menu icon-color:base-0" href="">메뉴</a>
                </li>
            </ul>

            <ul class="d:none md:d:flex">
                <li>
                    <a class=" md:d:inline-block icon  icon-cart icon-color:base-0" href="">장바구니</a>
                </li>
                <li>
                    <a class=" md:d:inline-block icon icon-hover icon-alert icon-color:base-0 " href="">알림
                    <span>2</span></a>
                </li>
                <li>
                    <a class=" md:d:inline-block icon icon-person icon-color:base-0" href="">로그인</a>
                </li>
                <!-- <li>
                    <a class=" icon icon-sign-out icon-color:base-0" href="">로그아웃</a>
                </li> -->
            </ul>
        </nav>
    </div>
    </header>
</body>
</html>