<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="../reset.css" rel="stylesheet" type="text/css" />
  <link href="../root.css" rel="stylesheet" type="text/css" />
  <link href="../style.css" rel="stylesheet" type="text/css" />
  <link href="../util.css" rel="stylesheet" type="text/css" />
  <link href="../icon.css" rel="stylesheet" type="text/css" />
  <link href="../button.css" rel="stylesheet" type="text/css" />
  <link href="header.css" rel="stylesheet" type="text/css" />
  <link href="footer.css" rel="stylesheet" type="text/css" />
  <link href="layout.css" rel="stylesheet" type="text/css" />
  <!-- <link href="unique-menu.css" rel="stylesheet" type="text/css" /> -->
  <link href="unique-menu-homework.css" rel="stylesheet" type="text/css" />

</head>

<body>


 <section class="unique-menu">

  <h1 class="unique-rland">알랜드만의 특별함</h1>
  <article class="card">
    <h1 class="card-h1">직접 만든 <br><span>과일청</span>을 맛보세요.</h1>
    <p class="card-p">신선한 과일과 알랜드만의 레시피로 과일향의 풍미를 충분히 느낄 수 있는 수제청을 드셔보세요.</p>  
    <p><img class="fruit-img" src="/image/unique-fruit.png" alt="과일청"></p>
</article>
<!-- 왜 이러냐 이름이 지어줫느데  -->

  <!-- <article class="cookie">
    <h1>우리가 구운 수제 쿠키를 만나보세요.</h1>
    <p>신선한 버터 그리고 견과류를 이용하여 바삭함을 더해 매일마다 직접 구운 맛난 쿠키를 만나보세요.</p>  
    <p><img src="/image/unique-cookie.png" alt="수제쿠키"></p>  
</article>

  <article class="coffee">
    <h1>다양한 로스팅으로 다채로운 맛을 느껴보세요.</h1>
   
    <p>신선한 과일과 알랜드만의 과일향의 풍미를 충분히 느낄 수 있는 수제청을 드셔보세요.</p>  
    <p><img src="/image/unique-roasting.png" alt="로스팅"></p>  
</article> -->

</section>

</body>

</html>